<div class="container">
  <div class="row">
    <div class="card">
      <img src="../../../assets/img/balon.jpg">
      <div class="card-body card-a-model">

        <div class="form-group">
          <label for="inputName" >Nombre</label>
          <div class="itemForm">
            <input #nombre class="form-control" type="text" placeholder="Nombre del equipo"/>
          </div>
          <label for="inputName" >País</label>
          <div class="itemForm">
            <input #pais class="form-control" type="text" placeholder="País de procedencia"/>
          </div>
        </div>

        <div class="itemForm">
          <button type="button" (click)="guardar(nombre.value, pais.value)">Guardar</button>
        </div>
      </div>
</div>
  </div>
</div>

